{# Dashboard Template - Digital Finance & Economics #}
{# This template is rendered by generate_dashboard.py #}
{# For the initial static version, see index.html (source of truth) #}
{# This file will be populated by extracting index.html into template form #}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{{ config.course.title }}</title>
</head>
<body>
<p>Template placeholder - run generate_dashboard.py after populating this template from index.html</p>
<p>Lessons: {{ stats.total_lessons }}, Charts: {{ stats.total_charts }}</p>
</body>
</html>
